body {
    margin: 0;
    padding: 0 15%;
    background: purple;
    color: white;
    text-align: center;

font-size: 175%;
}



h1 {
    font-family: 'Bree Serif', serif;
}

h2 {
    font-family: 'Lobster', cursive;
}

p {
    font-family: 'Jost', sans-serif;
}